<div class="col-sm-6 col-md-4">
  <div class="card border:2px">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= movie.url %>" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-primary">読</a>
      <p class="card-title">Lv.<%= "#{movie_counter +1}" %>：<%= movie.title %></p>
    </div>
  </div>
</div>