<h1 class="rails-movies-title"><%= page_title(params[:genre]) %>動画</h1>
<div class="container-fluid">
  <div class="row">
    <%= render partial: "movie", collection: @movies %>
  </div>
</div>
<%= paginate @movies%>
