.rails-card-body {
  height: 15rem;
}

.btn-dokuha {
  width: 100%;
}

.card-base {
  padding-top: 1.75rem;
}

.rails-movies-title {
  padding-top: 1rem;
  text-align: center;
}

.rails-card-title {
  padding-top: 1rem;
}

