.card-body {
  height: 15rem;
}

.btn {
  height: 2.25rem;
  width: 100%;
}

.col-sm-6 {
  padding-top: 1.75rem;
}

.title {
  padding-top: 1rem;
  text-align: center;
}

.card-title {
  padding-top: 1rem;
}

