  <div class="card_area col-12 col-md-6 col-lg-4 p-0 ">
  <div class="card mx-auto">
    <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" class="card-img-top" alt="カードの画像">
    <div class="card-body">
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <h5 class="card-title"><%= text.title %></h5>
      <p class="card-text">[<%= text.genre %>]</p>
    </div>
  </div>
</div>